#bonnie{
    top: 7%;
    left:8%;
}

#CherylB{
    top: 16%;
    right: 4%;
}

#Mavis{
    top: 43%;
    left: 7%;
}

#Shelly{
    bottom: 4%;
    left: 22%;

}

#Terrie{
    bottom: 31%;
    right: 3%;

}

#abigail{
    top: 23%;
    left: 8%;
}

#amanda{
    top: 18%;
    right: 2%;
}

#angeline{
    top: 49%;
    left: 49%;
}

#mackie{
    bottom: 19%;
    left: 8%;
}

#s3 #lisa{
    bottom: 4%;
    right: 23%;
}

#annie{
    bottom: 22%;
    right: 20%;
}

#constance{
    bottom: 9%;
    left: 10%;
}

#jessica{
    top: 10%;
    right: 44%;
}

#marjorie{
    top: 22%;
    right: 9%;
}

#lisa{
    bottom: 4%;
    right: 30%;
}

#rowena{
    bottom: 6%;
    right: 45%;
}

#sabrina{
    top: 22%;
    right: 22%;
}

#cherylj{
    top: 35%;
    right: 30%;
}

#tanya{
    bottom: 4%;
    right: 9%;
}

#charlene{
    top: 13%;
    left: 14%;
}
#leona{
    bottom: 12%;
    left: 6%;
}
#mariella{
    bottom: 40%;
    right: 50%;
}
#mary{
    bottom: 4%;
    right: 9%;
}

#annieP{
    top: 12%;
    left: 10%;
}

#bella{
    bottom: 12%;
    left: 6%;
}

#evaline{
    bottom: 40%;
    right: 38%;
}

#sarah{
    bottom: 10%;
    right: 9%;
}

#s3 #sarah img{
    width: 85%;
}

#gladys{
    bottom: 35%;
    right: 59%;
}

#kelly{
    bottom: 16%;
    right: 28%;
}

#maisy{
    top: 10%;
    left: 9%;
}

#nellie{
    top: 23%;
    right: 23%;
}

#beatrice{
    top: 10%;
    right: 9%;
}

#brooklyn{
    top: 20%;
    left: 15%;
}
#danita{
    bottom: 10%;
    right: 9%;
}
#janine{
    bottom: 21%;
    right: 50%;
}
#loretta{
    bottom: 10%;
    right: 9%;
}